@import url("https://rsms.me/inter/inter.css");
:root {
  --base-color: #000;
  --bar-color: #03368f;
  --btn-color: #ffa200;
  --box-color: #eee;
  --light-color: #ededed; }

html, body {
  height: 100%; }

body {
  background-color: var(--box-color);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 1rem 0; }

a {
  color: var(--base-color);
  text-decoration: none; }

img {
  width: 100%; }

.wrapper {
  padding: 2rem; }

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }

.main-nav {
  display: none; }
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0; }

.main-nav__item a {
  color: #000;
  display: block;
  font-size: 0.8125rem;
  margin: .5rem 0 .5rem 1rem; }
  .main-nav__item a::after {
    display: block;
    content: "";
    border-bottom: 2px solid var(--btn-color);
    padding-bottom: .375rem;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%; }
  .main-nav__item a:hover::after {
    color: #444;
    transform: scaleX(1); }

.main-left {
  background-color: #fff; }

.main-right {
  background: url("../images/jump.jpg") center no-repeat; }

.slogan {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2;
  max-width: 80%; }

.search-container {
  padding: 2rem 0; }
  .search-container .form {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: repeat(2, fr);
    gap: .5rem 0; }
    .search-container .form input {
      border: none;
      width: 100%; }
      .search-container .form input::placeholder {
        color: #000;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0.75rem;
        opacity: 1; }
    .search-container .form__group {
      display: flex;
      align-items: center;
      border: 1px solid var(--light-color);
      padding: .75rem; }
      .search-container .form__group--location {
        grid-column: 1 / -1; }
    .search-container .form__icon {
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 0.4);
      margin-right: 0.5rem; }
    .search-container .form__btn {
      background-color: var(--btn-color);
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all 200ms; }
      .search-container .form__btn:hover {
        background-color: #d88a04; }
      .search-container .form__btn i {
        transform: scaleX(-1); }

.photo-content {
  display: none; }

.tour__list {
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.tour__item {
  background-color: #fff;
  border: 1px solid var(--light-color);
  margin-bottom: 1rem; }

.tour__link {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 1.5rem; }

.tour__title {
  font-size: 0.8125rem;
  line-height: 1.5;
  margin-bottom: .75rem; }

.tour__excerpt {
  color: rgba(0, 0, 0, 0.6);
  flex-grow: auto;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 1rem; }

.tour__footer {
  margin-top: auto; }
  .tour__footer > * span {
    color: #1bb8fb;
    font-size: 0.75rem; }

.tour__price::after {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Font Awesome 5 Free";
  font-size: 0.625rem;
  content: "\f007";
  font-weight: 900;
  margin-left: 5px; }

.bar {
  background-color: var(--bar-color); }

.main__footer {
  color: #444;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-align: center;
  margin: 1rem 0;
  padding: 0 1rem; }
  .main__footer a {
    color: #504f4f;
    text-decoration: underline; }
    .main__footer a:hover {
      color: #000; }
  .main__footer span {
    white-space: nowrap; }

@media (min-width: 60rem) {
  .wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 5rem;
    z-index: -2; }
  .grid {
    display: grid;
    grid-template-columns: 60px 0.5fr 50px 50px 1fr 60px;
    grid-template-rows: 100px auto auto auto auto 50px; }
  .main-left {
    grid-column: 1 / 4;
    grid-row: 1 / 5; }
  .main-right {
    grid-column: 4 / 7;
    grid-row: 1 / 7; }
  .main__header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    padding: 2rem 0;
    z-index: 1; }
  .main-nav {
    display: block; }
  .slogan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 1; }
  .search-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 2rem 0 5rem 0;
    z-index: 1; }
  .photo-content {
    display: block;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    align-self: flex-end;
    justify-self: flex-end;
    color: #fff;
    line-height: 1.3;
    font-size: 0.75rem;
    padding-bottom: 5rem;
    z-index: 1; }
  .photo__caption {
    padding-left: 10px; }
  .photo__location {
    font-weight: bold; }
    .photo__location::before {
      font-family: "Font Awesome 5 Free";
      font-size: 0.625rem;
      content: "\f3c5";
      font-weight: 900;
      margin-right: 3px; }
  .tour__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 6;
    grid-row: 4 / 6;
    z-index: 1; }
  .tour__item {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.09);
    margin-bottom: 0;
    transition: all 200ms; }
    .tour__item:hover {
      transform: scale(1.05); }
  .tour__title {
    width: 80%; }
  .bar {
    grid-column: 1 / 4;
    grid-row: 5 / 7; } }
