@import url("https://rsms.me/inter/inter.css");
html, body {
  height: 100%; }

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.wrapper {
  background-color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem; }

.grid {
  display: grid;
  grid-template-columns: 80px 1fr 50px 50px 1fr 80px;
  grid-template-rows: 100px auto auto auto auto 50px; }

.main__header {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 0; }

.slogan {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2;
  max-width: 50%;
  z-index: 2; }

.search {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 2rem 0;
  z-index: 2; }

.main__left {
  background-color: #fff;
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  z-index: 1; }

.main__right {
  background: url("../images/jump.jpg") center no-repeat;
  grid-column: 4 / 7;
  grid-row: 1 / 7;
  z-index: 1; }

.bar {
  background-color: #03368f;
  grid-column: 1 / 4;
  grid-row: 5 / 7; }

.tour__list {
  background-color: #fff;
  border: 1px solid #ededed;
  grid-column: 2 / 6;
  grid-row: 4 / 6;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.tour__item {
  padding: 1.5rem; }
  .tour__item:not(:last-child) {
    border-right: 1px solid #ededed; }

.tour__title {
  font-size: 0.9375rem;
  margin-bottom: .75rem; }

.tour__excerpt {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  line-height: 1.2; }

.tour__footer {
  margin-top: 1rem; }
  .tour__footer > * span {
    color: #1bb8fb;
    font-size: 0.75rem; }

.tour__price::after {
  color: #ededed;
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  font-weight: 900;
  margin-left: 5px; }
