// .main-nav {
//     display: none;
//     &__list {
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         margin: 0;
//         padding: 0;
//         // position: absolute;
//         // right: 0;
//         // top: 10vh;
//         // background-color: var(--bar-color);
//     }
// }
// .main-nav__item a {
//     color: #000;
//     display: block;
//     @include font-size(13);
//     margin: .5rem 0 .5rem 1rem;
//     &::after {
//         display: block;
//         content: "";
//         border-bottom: 2px solid var(--btn-color);
//         padding-bottom: .375rem;
//         transform: scaleX(0);
//         transition: transform 250ms ease-in-out;
//         transform-origin: 0% 50%;
//     }
//     &:hover::after {
//         color: #444;
//         transform: scaleX(1);
//     }
// }
// .toggle {
//     display: block;
//     cursor: pointer;
//     div {
//         width: 35px;
//         height: 3px;
//         background-color: rgb(75, 73, 73);
//         margin: 6px 0;
//     }
// }

// @media (min-width: 60rem) {
//     .main-nav {
//         display: block;
//         &__list {
//             flex-direction: row;
//         }
//     }
//     .toggle {
//         display: none;
//     }
// }

.nav {
    background-color: var(--base-color);
    transition: right 0.5s ease;
    cursor: pointer;
    height: 100vh;
    right: -35rem;
    padding: 6rem 2rem 2rem 2rem;
    position: absolute;
    top: 0;
    width: 10rem;
    z-index: 1;
    &__item a {
        color: #fff;
    }
    ul {
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
    }
    li {
        padding-bottom: 1rem;
    }
}

.nav.expanded {
    right: 0;
}

.nav-toggle {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    user-select: none;
    width: 3.6rem;
    z-index: 2;
  }

  .nav-toggle:hover { opacity: 0.8; }

  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background: #444;
    content: '';
    height: 0.4rem;
    width: 100%;
  }

  .nav-toggle .nav-toggle-bar { margin-top: 0; }

  .nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

  .nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

  .nav-toggle.expanded .nav-toggle-bar { background: transparent; }

  .nav-toggle.expanded .nav-toggle-bar::after,
  .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
  }

  .nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
  }

  .nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
  }

@media (min-width: 60rem) {
    .nav-toggle {
        display: none;
    }
    .nav {
        cursor: unset;
        background-color: transparent;
        position: initial;
        padding: 0;
        width: auto;
        height: auto;
        ul {
            display: flex;
            transform: none;
            position: initial;
        }
        &__item a {
            color: #000;
            @include font-size(13);
            display: block;
            padding: 0 1rem 0 0;
            &::after {
                display: block;
                content: "";
                border-bottom: 2px solid var(--btn-color);
                padding-bottom: .375rem;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
                transform-origin: 0% 50%;
            }
            &:hover::after {
                color: #444;
                transform: scaleX(1);
            }
        }
    }
  }