@import url('https://rsms.me/inter/inter.css');

@mixin font-size($value) {
    font-size: unquote($value / 16 + 'rem');
}

$light-color: #ededed;
$btn-color: #ffa200;

html, body {
    height: 100%;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
.wrapper {
    background-color: #eee;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem;
}
$side-gap: 80px;
$gap: 50px;
.grid {
    display: grid;
    grid-template-columns: $side-gap 1fr $gap $gap 1fr $side-gap;
    grid-template-rows: 100px auto auto auto auto 50px;
}
.main__header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 0;
}
.slogan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1.2;
    max-width: 50%;
    z-index: 2;
}
.search__container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 2rem 0;
    z-index: 2;
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        grid-template-rows: repeat(2, fr);
        gap: .5rem 0;
        input {
            border: none;
            width: 100%;
        }
        &__group {
            display: flex;
            align-items: center;
            border: 1px solid $light-color;
            padding: .75rem;
            &--location {
                grid-column: 1 / -1;
            }
        }
        &__icon {
            @include font-size(12);
            color: rgba(0, 0, 0, .4);
            margin-right: 0.5rem;
        }
        &__btn {
            background-color: $btn-color;
            border: none;
            color: #fff;
            i {
                transform: scaleX(-1);
            }
        }
    }
}
.main__left {
    background-color: #fff;
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    z-index: 1;
}
.main__right {
    background: url("../images/jump.jpg") center no-repeat;
    grid-column: 4 / 7;
    grid-row: 1 / 7;
    z-index: 1;
}
.bar {
    background-color: #03368f;
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}
.tour {
    &__list {
        background-color: #fff;
        border: 1px solid $light-color;
        grid-column: 2 / 6;
        grid-row: 4 / 6;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        padding: 1.5rem;
        &:not(:last-child) {
            border-right: 1px solid $light-color;
        }
    }
    &__title {
        @include font-size(15);
        margin-bottom: .75rem;
    }
    &__excerpt {
        color: rgba(0, 0, 0, .6);
        @include font-size(14);
        line-height: 1.2;
    }
    &__footer {
        margin-top: 1rem;
        > * span {
            color: #1bb8fb;
            @include font-size(12);
        }
    }
    &__price {
        &::after {
            color: rgba(0, 0, 0, .4);
            font-family: "Font Awesome 5 Free";
            @include font-size(10);
            content: "\f007";
            font-weight: 900;
            margin-left: 5px;
        }
    }
}
