@import url('https://rsms.me/inter/inter.css');

html, body {
    height: 100%;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
.wrapper {
    background-color: #ccc;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem;
}
$gap: 50px;
.grid {
    display: grid;
    grid-template-columns: $gap 1fr $gap $gap 1fr $gap;
    grid-template-rows: 100px auto auto 50px 50px 50px;
}
.main__header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 0;
}
.slogan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 2;
}
.search {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 2rem 0;
    z-index: 2;
}
.main__left {
    background-color: #fff;
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    z-index: 1;
}
.main__right {
    background-color: #7847ce;
    grid-column: 4 / 7;
    grid-row: 1 / 7;
    z-index: 1;
}
.bar {
    background-color: #03368f;
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}
.tours {
    background-color: #fff;
    border: 1px solid #ccc;
    grid-column: 2 / 6;
    grid-row: 4 / 6;
    padding: 1rem;
    z-index: 1;
}
